.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*buttons for initiating game and bringing score up from 0 */
.button{
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 40%;
  border: solid;
  text-align: center;
}

.button:hover{
  border-color: tan;
  color: white;
}

.button_score{
  width: 100px;
  height: 100px;
}
.button_score:hover{
  cursor: pointer;
  color: white;
}

.button_text{
position: relative;
top:30px;
}

/*Display player scores */

.score{
  display: inline;
  margin-right: 20px;
}

/*Steal buttons*/

.steal{
  width: 200px;
  height: 25px;
  margin: auto;
  border: solid;
  border-radius: 20%;

}

.steal:hover{
  cursor:pointer;
  border-color: white;
  color:white;
}

#robbery{
  color: white;
}

/*taxes */

.taxes{
  background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png);
  background-size:300px 100px;
  color: black;
  font-size: 25px;
  font-weight: bold;
}
